/*makes it scroll nicely*/
html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color:black;
    background-color: #000000;

}

.gradient{
    background-image: linear-gradient(to bottom, #000000, #fbfbfb, black);
}

/*set background to ugly beige and Apple font :^| */
body {
    font-size: larger;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

/*center header and make divider*/
h1 {
    text-align: center;
    /*border-bottom: 5px dashed darkolivegreen;*/
    padding-bottom: 8px;
    color: white;
}

/* .map-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100dvh;
}

.map {
    display: block;
    width: 100%;
}

.map-button{
    position: absolute;
    z-index: 50;

    height: 1vw;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: rgba(250, 250, 210, 0.8);
    color: rgb(0, 0, 0);
    padding: 8px;
    cursor: pointer;
    border-color: black;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    transform: translate(-50%, -50%);
}

.map-button.contact{
    top: 15%;
    left: 20%;
    
} */

.scroll-container{
    height: 400vh;
    position: relative;
    background-color: gray;
}

.video-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*set margins to auto, put on left (block), and allow shrink*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    /*width: 400px; */
    flex: 0 1 400px;
}

/*make it bigger when you hover cursor*/
/*img:hover {
    scale: 1.05;
    transition-duration: 0.1s;
}  */

/* The code below centers the text of all h3's on the page. */
h3 {
    text-align: center;
}

/*align sections left and allow wrap*/
.section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/*format sections and allow side by side items within*/
.section {
    border: 1px rgb(0, 0, 155) ridge;
    background-color: rgba(250, 250, 210, 0.5);
    padding: 10px;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*class for images for side by side elements*/
.section-image {
    width: 400px;
    margin-right: 20px;
}

/*text class so it can go next to images*/
.section-text {
    flex: 1 1;
}

/*navbar with flex icons tried to make static but DID NOT WORK*/
.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: darkolivegreen;
    padding: 8px;
    margin: 8px;
    color: black;
    border-radius: 8px;
    align-items: center;
    position: sticky;
}

/*make icons clickable and format correctly*/
.navbar-icon {
    display: flex;
    justify-content: flex-start;
    background-color: lightgoldenrodyellow;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    border-color: black;
    border-radius: 8px;
}

/*make navbar icon big on hover*/
.navbar-icon:hover {
    scale: 1.05;
    transition-duration: 0.1s;
}

/*make hyperlinks look like normal text*/
a {
    color: black;
    text-decoration: none;
    font-size: auto;
}

/*make it bold DOES NOT WORK*/
a :hover {
    font-weight: bolder;
}

/*format bottom bar*/
.footer {
    display: block;
    text-align: center;
    color: white;
    padding: 8px;
    margin: 1px;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-grow: 1;
}